*{
	margin:0;
	padding:0;
	border: none;
}
p{
	display: block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	display: inline-block;
	*display:inline;
}
a{
	text-decoration: none;
	color: #333;
}
body{
	font-family: 微软雅黑, 宋体,'Hiragino Sans GB', 'WenQuanYi Micro Hei',  sans-serif;
	font-size:1rem;
	font-weight:400;
	padding-bottom: 5em;
}
header{
background-color: #fcb058;
text-align: center;
width: 96vw;
text-align: left;
padding: 1vw 2vw;
overflow: auto;
}
header a{
	float: left;
	font-size: 8vw;
	color: white;
}
header span{
	float: left;
	font-size: 5vw;
	color: white;
	margin-top: 1.5vw;
	margin-left: 36vw;
}
#create{
	float: right;
	width: 5.5vw;
	margin-top: 2.5vw;
	margin-right: 2vw;
}
#find{
	width: 96vw;
	padding: 2vw 2vw;
	height: auto;
	position: relative;
	border-bottom: 2px solid #e3e3e3;
	overflow: auto;
}
#find span{
	float: left;
	font-size: 4vw;
	margin-top: 1.5vw;
	color: #787878;
}
#find img{
	float: right;
	width: 8vw;
	margin-right: 4vw;
}
#find a{
	float: right;
	font-size: 6vw;
	color: #fcb058;
}
.chat{
	width: 94vw;
	height: auto;
	padding: 3vw 2vw;
	position: relative;
	clear: both;
	overflow: auto;
	border-bottom: 2px solid #e3e3e3;
}
.touxiang{
	float: left;
	width: 13vw;
}
.font{
	float: left;
	margin-left: 3vw;
	position: relative;
}
.font h3{
	font-weight: normal;
	font-size: 4vw;
	display: inline-block;
}
.font p{
	position: absolute;
	font-size: 3.5vw;
	color: #cccccc;
	margin-top: 2vw;
	width: 70vw;
}
.chat span{
	position: absolute;
	top: 2vw;
	right: 3vw;
	font-size: 3.2vw;
	color: #cccccc;
}
.header img{
	width: 5vw;
	margin-left: 2vw;
	margin-top: 0.5vw;
}
#back{
	position: fixed;
	background-color: white;
	right: 3.8vw;
	top: 10vw;
	width: 24vw;
	padding: 4vw 2vw;
	border: 2px solid #e3e3e3;
	border-radius: 15px;
	display: none;
}
.tabs{
	clear: both;
	overflow: auto;
	padding-bottom: 5vw;
}
.tabs img{
	float: left;
	width: 6vw;
}
.tabs span{
	font-size: 3.5vw;
	float: left;
	margin-left: 3vw;
}
.weidu{
	position: absolute;
	font-size: 3.5vw;
	margin-top: 7vw;
	background-color: #fcaf56;
	color: white !important;
	padding: 0.5vw 2vw;
	border-radius: 15px;
}
