{
	margin:0;
	padding:0;
	border: none;
}
p{
	display: block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	display: inline-block;
	*display:inline;
}
a{
	text-decoration: none;
	color: #333;
}
body{
	font-family: 微软雅黑, 宋体,'Hiragino Sans GB', 'WenQuanYi Micro Hei',  sans-serif;
	font-size:62.5%;
	font-weight:400;
	margin: 0;
	padding: 0;
}
header{
	background-color: #ffbf2b;
	text-align: center;
	width: 96vw;
	text-align: left;
	padding: 3vw 2vw;
	overflow: auto;
}
header a{
	float: left;
	font-size: 5vw;
	color: white;
}
#furnish{
	float: right;
	font-size: 4vw;
	color: white;
	margin-right: 0.5vw;
	padding: 0vw 1.5vw;
	border: 3px solid white;
	border-radius: 15px;
	margin-top: 0.5vw;
}
#header_search{
	margin-top: 1.5vh;
	position: relative;
}
#search{
	font-size: 4.5vw;
	width: 95vw;
	text-align: center;
	margin-left: 2vw;
	padding: 0.5vh 0;
	border: 2px solid #b4b4b4;
	border-radius: 15px;
	margin-bottom: 1vh;
	/*background-image: url(http://img.lizi123.cn/LiZi/page_club/img/search.png);
	background-repeat: no-repeat;
	background-size: 4vw;
	background-position-x: 2vw;
	background-position-y: 0.5vh;*/
	outline:none;
}
#search_image{
	width: 4.5vw;
	position: absolute;
	top: 0.7vh;
	left: 8vw;
}
#search_image{
	width: 4.5vw;
	position: absolute;
	top: 0.7vh;
	left: 8vw;
}
.list{
	width: 100vw;
	position: relative;
	height: auto;
}
.list_header{
	width: 96vw;
	height: auto;
	background-color: #ededed;
	padding: 0.5vw 2vw;
}
.fenzu_name{
	font-size: 4vw;
	margin-left: 3vw;
	color: #919191;
}
.people{
	width:96vw;
	height: auto;
	padding: 1vw 2vw;
	clear: both;
	border-bottom: 2px solid #ededed;
	overflow: auto;
}
.people_touxiang{
	float: left;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}
.people_name{
	float: left;
	font-size: 4.5vw;
	margin-left: 3vw;
	margin-top: 2vw;
}
.choose{
	float: left;
	width: 7vw;
	height: 7vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
	margin-top: 1.5vw;
	margin-right: 2vw;
}
.special{
	float: left;
	font-size: 3.5vw;
	margin-left: 13vw;
	margin-top: 2vw;
	padding: 1vw 2vw;
	color: #777777;
	border-radius:15px;
	background-color: #f7f7f7;
	display: none;
}