*{
	margin:0;
	padding:0;
	border: none;
}
p{
	display: block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	display: inline-block;
	*display:inline;
}
a{
	text-decoration: none;
	color: #333;
}
body{
	font-family: 微软雅黑, 宋体,'Hiragino Sans GB', 'WenQuanYi Micro Hei',  sans-serif;
	font-size:1rem;
	font-weight:400;
	padding-bottom: 5em;
}
header{
background-color: #ffbf2b;
text-align: center;
width: 100vw;
text-align: left;
padding: 3vw 2vw;
}
header a{
	font-size: 5vw;
	color: white;
}
#header{
	width: 98vw;
	padding: 2vw;
	padding-left: 2vw;
	font-size: 4vw;
	color: #000000;
}
#header span{
	padding: 0.2vw 2vw;
	border-left: 10px solid #ffbf2b;
}
.daren_touxiang{
	width: 100vw;
	padding: 2vw 0;
}
.daren_touxiang img{
	width: 13.5vw;
	margin-left: 2.7vw;
}
.all{
	width: 96vw;
	padding: 2vw;
	background-color: #ff9b30;
	text-align: center;
	color: white;
}
#all{
	font-size: 4.5vw;
}
#box{
	position: fixed;
	width: auto;
	height: auto;
	left: 31.5vw;
	top: 30vh;
	background-color: white;
	padding: 3vw 2vw;
	border: 4px solid #c0c0c0;
	border-radius: 15px;
	display: none;
}
#box p{
	font-size: 4.5vw;
	color: #ff9b30;
	padding: 0.5vw 6vw;
	text-align: center;
}
.check{
	background-color: #ff9b30;
	color: white !important;
}
#frame{
	width: 100vw;
	height: 150vw;
}
