*{
	margin:0;
	padding:0;
	border: none;
}
a{
	text-decoration: none;
	color: #333;
}
body{
	font-family: 微软雅黑, 宋体,'Hiragino Sans GB', 'WenQuanYi Micro Hei',  sans-serif;
	font-size:62.5%;
	font-weight:400;
	color:#868686 ;
	position: relative;
}

/*//////////////////////////标题*/
#header{
	font-size: 6vw;
	color: black;
	font-weight: normal;
	text-align: center;
	margin-top: 6vh;
}
.label{
	/*width: 100vw;*/
	height: auto;
	margin-left: 15vw;
	/*margin-top: 15vh;*/
	margin-top: 11vh;
	overflow: auto;
	line-height: 8.6vw;
}
.lei{
	float: left;
	margin-top: 0.5vh;
	width: 8vw;
	height: auto;
}
/*///////////选后标签*/
.choosed_label{
	float: left;
	display: inline-block;
	width:72vw ;
	display: none;
}
.shanchang_label{
	background-color: #6cdeff;
	display: inline-block;
	color: white;
	width: 20vw;
	padding: 0.2vh 0;
	text-align: center;
	font-size: 4vw;
	border-radius: 30px;
	margin-top: 0.5vh;
	margin-left: 4vw !important;
}

.xingqu_label{
	background-color: #ff9000;
	display: inline-block;
	color: white;
	width: 20vw;
	padding: 0.2vh 0;
	text-align: center;
	font-size: 4vw;
	border-radius: 30px;
	margin-top: 0.5vh;
	margin-left: 4vw !important;
}

.xiangxue_label{
	background-color: #f75c61;
	display: inline-block;
	color: white;
	width: 20vw;
	padding: 0.2vh 0;
	text-align: center;
	font-size: 4vw;
	border-radius: 30px;
	margin-top: 0.5vh;
	margin-left: 4vw !important;
}
/*///////////选后标签结束*/
.jia{
	float: left;
	width: 4vw;
	margin-left: 4vw;
	margin-top: 2vw;
}
.label_span{
	float: left;
	font-size: 4vw;
	margin-left: 2vw;
	line-height: 8.6vw;
}
#next{
	clear: both;
	display: block;
	width: 70vw;
	font-size: 5vw;
	text-align: center;
	margin-left: 15vw;
	/*margin-top: 18vh;*/
	margin-top: 15vh;
	background-color: #fc9d0b;
	color: white;
	padding: 1vh 0;
	border-radius: 25px;
}



/*放大预览层*/
#zoom_preview{
	display: none;
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100vw;
	height: 100vh;
	background-color: #404040;
}
.tap_class{
	width: 100%;
	height: auto;
	overflow: auto;

}
#exchange{
	width: 100%;
	float: left;
	font-size: 4vw;
	padding:0.2rem 0 0 0.3rem;
	margin:0.2rem 0.2rem;
	border-left: 0.2rem solid #FFBF2B;
}
#change_module{
	position: fixed;
	top: 30vh;
	left: 10vw;
	width: 80vw;
	height: auto;
	background-color: #FFFFFF;
	z-index: 200;
	font-weight: normal;
	font-size: 4vw;
}
.change_module_label{
	font-weight: normal;
	float: left;
	width: 24vw;
	text-align: center;
	margin-top: 4vw;
	font-size: 4vw;
	margin-left: 2vw;
	border: 2px solid #ff9000;
	padding: 1vw 2vw;
	border-radius: 13px;
}
.label_back{
	color: #FF9000;
}
.label_back_hover{
	color: white;
	background-color: #FF9000;
}
#refresh_label{
	float:left;
	margin-top: 5vw;
	margin-left: 5vw;
	font-size: 4vw;
	color: #FF9000;
}
#cancel_change_module{
	float:left;
	margin-top: 5vw;
	margin-left: 20vw;
	font-size: 4vw;
	color: #FF9000;
}
#confirm_change_module{
	float:right;
	margin-top: 5vw;
	margin-right: 4vw;
	font-size: 4vw;
	color: #FF9000;
}