/*============================今日精选=========================*/
/*=====秀秀的推送样式=======*/
.xiu{
	width: 100%;
	/*height:20vw;*/
		/*background: yellow;*/
		float: left;
		padding-bottom: 0.2em;
		border-bottom:1em solid #f4f4f4;
}
.name{
	height: auto;
	width: 100%;
	float: left;
	/*background: #14ADE5;*/
	position: relative;
}
.touxiang{
	width: 6em;
	height: 6em;
	border-radius: 5em;
	float: left;
	padding: 1em;
}
.user_name{
	font-size: 2em;
	color: #000000;
	padding-top: 0.8em;
	padding-bottom: 0.2em;
	/*float: left;*/
	/*width: auto;*/
}
.user_sign{
	font-size: 1.5em;
	color: #8b8b8b;
	/*float: left;*/
}
.tap{
	width: auto;
	height: auto;
	padding: 0.6em 1.4em 0.6em 1.4em;
	background: #ffac0d;
	border-radius: 2em;
	float:right;
	position: absolute;
	top: 2.4em;
	right: 1em;
}
.tap span{
	/*display: block;*/
	width: auto;
	/*background: yellow;*/
	font-size: 1.6em;
	color: white;
	float: right;
}
.xiu_photo1{
	width: 100%;
	height: 28em;
	float: left;
}
.say{
	font-size: 2em;
	padding-left: 0.3em;
	float: left;
}
.num{
	width: 100%;
	height: auto;
	float: left;
}
.s{
	float: left;
	padding-left: 1em;
}
.s span{
	font-size: 2em;
	float: left;
	padding: 0.3em 0 0.5em 0.2em;
}
.s .ss{
	width: 3em;
	height:3em;
	float: left;
	padding: 0.5em;
}
/*=====课程的推送样式========*/
.cla{
	width: 100%;
	float: left;
	/*background: yellow;*/
	height: auto;
	padding-bottom: 1em;
	border-bottom:1em solid #f4f4f4;	
}
.mid{
	width: 100%;
	height: auto;
	float: left;
}
.class_photo{
	height: 29em;
	width: 22em;
	padding: 1em;
	float:left;
}
.class_concret{
		padding-top: 1em;
	width: 55%;
	height: auto;
	float: left;
	color:#6a6a6a ;
	font-size: 2vw;
}
.class_title{
	font-size: 2em;
	color: #000000;
	float:left;
	width: 100%;
}
.same{
	float: left;
	padding: 1em;
	width: 100%;
}
.same p{
	float: left;
}
.lei{
	padding-right:1em;
	/*background: yellow;*/
}
.lei_concret{
	/*background: wheat;*/
	width: 80%;
}
.lei4 .time{
	float: left;
	color: white;
	background: #ffac0d;
	width: auto;
	padding:0.2em 0.5em 0.2em 0.5em;
	margin-right: 1em;
	border-radius: 5em;
}
.lei4 .court{
	padding-top:0.3em;
	width: 80%;
	float: right;
	/*background: yellow;*/
}
.lei4 .court span{
	padding: 0 0.5em 0 0.5em;
	color:  #ffac0d;
}
.join{
	width: auto;
	color: white;
	font-size: 2em;
	background:#ffac0d;
	border-radius: 5em;
	padding: 0.3em 1em 0.3em 1em;
	margin-right: 1em;
	float: right;
}
/*===活动推送样式======*/
.sport{
	width: 100%;
	float: left;
	/*background: yellow;*/
	height: auto;
	padding-bottom: 0.2em;
	border-bottom:1em solid #f4f4f4;	
	position: relative;	
}
.sport_photo{
	width: 100%;
	height: 40em;
	float: left;
	margin-bottom: 0.8em;
}
.fuzhi{
	width: 100%;
	height: 13em;
	position: absolute;
	/*background: yellow;*/
	bottom: 5em;
}
.opcity_ceng{
	width: 100%;
	height: 13em;
	background: #ADADAD;
	opacity: 0.3;
	position: absolute;
	bottom:0em;
}
.fuzhi p{
	color: white;
	font-size: 2em;
	float: left;
}
.fuzhi .note{
	width: 6em;
	height: auto;
	float: left;
	padding: 0.6em;
	border: solid 0.3em white;
	margin:2em ;
	
}
.fuzhi .note span{
	float: left;
	color: white;
	font-size: 3em;
}
.fuzhi .note .zhuangtai{
	width: 100%;
	font-size: 2em;
}
.fuzhi .sport_title{
	font-size: 3em;
	width: 70%;
	padding-top: 0.5em;
}
.fuzhi .sport_concre{
	width: 70%;
}
.fuzhi .read{
	padding-right: 1em;
	float: right;
}
.fuzhi .joinnote{
	font-size: 2em;
	color: white;
	/*background: yellow;*/
	/*width: 10em;*/
	position: absolute;
	bottom: 3em;
	right: 2em;
	border: solid 0.1em white;
	border-radius: 0.5em;
	padding:0.2em 0.5em;
}
/*.fuzhi .num{
	margin-top: 1em;
}*/
